@font-face {
  font-family: 'Bakerie';
  src: url('/liam-flo/fonts/bakerie.woff2') format('woff2'),
       url('/liam-flo/fonts/bakerie.woff') format('woff'),
       url('/liam-flo/fonts/bakerie.ttf') format('truetype'),
       url('/liam-flo/fonts/bakerie.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 

/* ===================== */
/* Variables */
/* ===================== */
:root {
  --bg: #fffdf3;
  --text: #005c62;
  --border: #111;

   --corner-size: 30px;
  --corner-border: 1px solid var(--border);
}

/* ===================== */
/* Global Styles */
/* ===================== */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Bakerie', sans-serif;
  font-size: 20px;
  margin: 0;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bakerie', serif;
  font-weight: 400;
  margin: 0;
  color: var(--text)
}

.main-content {
  margin: 15px 22px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
 .section{
  margin: 30px 0;
 }

.logo {
  height: 125px;
  display: block;
  margin: 0 auto;
}

/* ===================== */
/* Form Styles */
/* ===================== */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}

.corner {
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
  background: none;
}
.corner.top-left {
  top: 0; left: 0;
  border-top: var(--corner-border);
  border-left: var(--corner-border);
}

.corner.top-right {
  top: 0; right: 0;
  border-top: var(--corner-border);
  border-right: var(--corner-border);
}

.corner.bottom-right {
  bottom: 0; right: 0;
  border-bottom: var(--corner-border);
  border-right: var(--corner-border);
}

.corner.bottom-left {
  bottom: 0; left: 0;
  border-bottom: var(--corner-border);
  border-left: var(--corner-border);
}

/* ===================== */
/* Buttons */
/* ===================== */
button {
  font-family: 'Bakerie', serif;
  position: relative;
  background: var(--bg);
  padding: 16px;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  border: 2px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 8px 8px 0px 0px;
}

button:hover {
  left: 4px;
  top: 4px;
  box-shadow: rgb(51, 51, 51) 0px 0px 0px 0px;
}

/* ===================== */
/* Input Fields */
/* ===================== */
.input-container {
  position: relative;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #222;
  outline: none;
  background-color: transparent;
  font-family: 'Alata', sans-serif;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
  font-family: 'Alata', sans-serif;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--border);
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -15px;
  font-size: 12px;
  color: var(--border);
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.8;
  color: var(--border);
  font-family: 'Alata', sans-serif;
}

textarea {
  font-family: 'Alata', sans-serif;
}

/* ===================== */
/* Video */
/* ===================== */
video {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 3px;
}

/* ===================== */
/* Social Links */
/* ===================== */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link img {
  width: 30px;
  height: 30px;
}


/* ===================== */
/* Utils */
/* ===================== */
.text-center{
  text-align: center;
}



.coming-soon{
  width: 100%;
  max-width: 500px;
}