---
import '../styles/styles.css';
import { App } from '../components';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Liam Florence Video</title>
  </head>
  <body>
    <App />
  </body>
</html>
